*, *before, *after {
  box-sizing: border-box;}


/*UI Bars*/
.status-bar {
  float:left;
  display:inline-block;
  width:375px;
  height:20px;
  left: 0px;
  top: 0px;
  background-color:#1C435A;
}
.sig{
  padding:3.5px 0px 2.5px 5px;
}
.gs {
  padding:3.5px 0px 2.5px 0px;
}
.wifi {
  padding:3.5px 0px 2.5px 0px;
}
.clock{
  padding:3.5px 40px 2.5px 90px;
}
.battery{
  padding: 3.5px 5px 2.5px 50px;
}

/* App Navigation */

.top-nav{
  background-color:#1C435A;
  height:87px;
}
.screen, .hamburger-menu, .back-arrow{
  box-sizing: border-box;
  float: left;
}
.hamburger-menu{
  top:50px;
  padding:20px 16px 0 35px;
  width: 20%;

}
.back-arrow{
  padding: 19px 0px 0 16px;
  top:21px;
  width: 20%;

}
.screen{
  padding: 20px 0 0 10px;
  width: 60%;
  top:25px;
}
/*Route Info*/

body{
  font-size: 16px;
  font-family: "Nunito", Helvetica, sans-serif;
  margin: auto;
}

section{
    width: 375px;
    background: #33566B;
    height: 678px;
  }

h1 {
    float: left;
    text-align: center;
    font-size: 1.125em;
    color:#ffffff;
  }

h2, h3, h4, h5{
  color: #0D202C;
}

h2 {
    padding: 6px 0 0 8px;
    text-align: left;
    font-weight: 800;
    font-size: 1.125em;
    line-height: 25px;
    left:8px;

  }

h3 {
    font-size: 1em;
    line-height: 25px;
  }
h4{
    font-size:87.5%;
  }

h5{
    align: right;
    font-size:81.25%;
  }

/* Nested styles */
.content, .time, .out-of-content, .out-of-time, .other-content, .other-time, .re-content,.re-time{
  float: left;
  display:inline-block;
  box-sizing: border-box;
}
.time, .other-time{
  width: 27%;
}
.content, .other-content{
  width: 73%;
}
.time, .other-time, .re-time, .out-of-time{
  padding: 8px 8px 0 0;
  text-align: right;
}
.content, .other-content, .re-content, .out-of-content {
  padding: 8px 0 0 8px;
}
.other-routes, .reroutes, .out-of-service{
  display: inline-block;
  margin: 4px 16px 4px 16px;
  width:343px;
  float: left;
  border-radius: 5px;
}
/* Your Route Styling */

  .your-route{
    display:inline-block;
    margin: 16px 16px 4px 16px;
    width: 343px;
    height: 75px;
    border-radius: 5px;
    background-color:#FFFFFF;
  }
  .content{
    height: 25px;
}

/* Other Routes Styling */

  .other-routes {
    height:310px;
    background-color:#FFFFFF;
}
  .other-content{
    height: 56px;
  }

/* Reroutes Styling */

 .reroutes {
    background-color:#FFFFFF;
    height:75px;
  }
  .re-content{
    height: 25px;
    width: 92%;
    }
  .re-time{
    top:110px;
    width:8%;
  }

/*Out of Service Styling */

  .out-of-service{
    background-color:#FFFFFF;
    height:169px;
  }
  .out-of-content{
    height:49px;
    width:52%;
  }
  .out-of-time{
    width:48%;
  }
  .subtract{
    display: inline-block;
    float:left;
    top:5px;
    left:10px;
  }
